.catalog__subtitle {
  @include baseFontPropertiesWithCustomFont;
  position: relative;
  padding-top: 78px;
  margin-bottom: 8px;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;
  color: #111111;
}

.catalog__text {
  @include baseFontPropertiesWithOriginalFont;
  margin-top: 0;
  margin-bottom: 21px;
  font-size: $smallFontSize;
  color: $baseTextColor;
  line-height: 16px;
}

.catalog__all-products {
  text-decoration: $linkDecorReset;
  margin-bottom: 25px;

  &--mode {
    width: 168px;
    margin: 0 auto;
  }
}

.catalog__products {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
  }

  @include desktop {
    grid-template-columns: 245px 245px 245px 245px;
    grid-column-gap: 80px;
  }
}

.catalog__show-more {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 2px solid $basicGrey;
  }
}
