.contacts {
  &--form {
    background: $decorBgColor;
  }
}

.contacts__container {
  padding-top: 27px;
  padding-bottom: 28px;

  @include tablet {
    padding: 63px 70px 60px 70px;
    background: $baseBodyColor;

    &--form {
      background: $decorBgColor;
    }
  }

  @include desktop {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}
