.contacts {
  &--form {
    background: $decorBgColor;
  }
}

.contacts__container {
  padding-top: 27px;
  padding-bottom: 28px;

  &--catalog {
    padding-bottom: 25px;
    padding-top: 27px;
    background: $basicGrey;
  }

  &--form {
    padding-top: 28px;
    padding-bottom: 26px;
  }

  @include tablet {
    padding: 63px 70px 56px 70px;
    background: $baseBodyColor;

    &--form {
      background: $decorBgColor;
      padding: 63px 70px 57px 70px;
    }

    &--catalog {
      padding: 58px 72px 58px 70px;
      background: $basicGrey;
    }
  }

  @include desktop {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;

    &--catalog {
      background: $white;
    }
  }
}
