.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: $linkDecorReset;

  @include tablet {
    justify-content: flex-end;
  }
}

.copyright__text {
  @include baseFontPropertiesWithOriginalFont;
  margin-top: 0;
  font-size: $mediumFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;

  @include tablet {
    margin-right: 22px;
    margin-bottom: 0;
  }
}
