.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: $linkDecorReset;

  @include tablet {
    justify-content: flex-end;
  }

  @include desktop {
    padding-top: 3px;
  }
}

.copyright__logo {
  fill: #666666;
}

.copyright__text {
  @include baseFontPropertiesWithOriginalFont;
  margin: 0;
  font-size: $mediumFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;

  @include tablet {
    margin-right: 22px;
    margin-bottom: 0;
  }

  &:hover + .copyright__logo {
    fill: $green;
  }

  &:active + .copyright__logo {
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }
}
