.example {
  position: relative;
  padding-top: 27px;
  background: $basicGrey;
  padding-bottom: 35px;

  @include tablet {
    background: linear-gradient(to top, #eaeaea 460px, #ffffff 460px) no-repeat;
    background-size: 100% 100%, 100% 100%;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 1px solid #e6e6e6;
  }

  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: -43px;
    background: linear-gradient(to top, #f2f2f2 460px, #ffffff 460px) no-repeat, linear-gradient(to top, #eaeaea 460px, #ffffff 460px) no-repeat;
    background-size: 72.5% 100%, 100% 100%;
    border-top: 0;
  }
}

.example__inner {
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -120px;
  }
}

.example__heading {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 35px;
  margin-top: 0;
  font-size: $mainHeadingFontSize;
  line-height: 40px;
  color: $baseHeadingColor;

  @include tablet {
    font-size: $mainHeadingFontSizeBig;
    line-height: $mainHeadingLineHeightBig;
    margin-top: 41px;
    margin-bottom: 64px;
  }

  @include desktop {
    margin: 0;
  }
}

.example__text-wrap {
  @include tablet {
    margin-bottom: 58px;
  }

  @include desktop {
    padding-top: 65px;
    width: 445px;
    margin-right: 125px;
  }
}

.example__description {
  @include baseFontPropertiesWithOriginalFont;
  margin-bottom: 2px;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;

  @include tablet {
    font-size: 16px;
    line-height: 24px;
    padding-right: 10px;
    margin-bottom: 30px;
  }

  @include desktop {
    margin-bottom: 50px;
    margin-top: 191px;
  }
}

.example__details-wrap {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__group {
  display: flex;

  @include tablet {
    margin-right: 160px;
  }

  @include desktop {
    margin-bottom: 35px;
  }
}

.example__details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--weight {
    margin-right: 32px;
  }

  @include tablet {
    &--weight {
      margin-right: 43px;
    }
  }
}

.example__text {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 7px;
  font-size: 24px;
  line-height: 24px;
  color: $baseHeadingColor;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 16px;

  @include tablet {
    width: 162px;
    padding-bottom: 20px;
    padding-top: 14px;
    font-size: 30px;
    line-height: 37px;
    margin-top: 23px;
  }

  @include desktop {
    margin-top: 16px;
  }
}

.example__details-definition {
  @include baseFontPropertiesWithOriginalFont;
  display: inline-block;
  max-width: 78px;
  font-size: $smallFontSize;
  line-height: $smallLineHeight;
  color: $baseTextColor;
  text-align: center;
  background-color: $basicGrey;
  margin-top: -14px;

  @include tablet {
    max-width: 130px;
    background-color: #ffffff;
    font-size: 14px;
    padding: 0 8px;
  }

  @include desktop {
    background-color: $basicGrey;
    padding: 0 8px;
    max-width: 146px;
  }
}

.example__consume {
  @include baseFontPropertiesWithCustomFont;
  margin-top: 18px;
  margin-bottom: 42px;
  font-size: $baseFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;
  color: $baseHeadingColor;
  text-align: center;

  @include tablet {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 26px;
    text-align: right;
  }
}

.example__price {
  @include desktop {
    display: inline-block;
    padding-left: 59px;
  }
}
