.example {
  position: relative;
  padding-top: 27px;
  margin-bottom: 25px;
  background: $basicGrey;
  padding-bottom: 30px;

  @include tablet {
    background: linear-gradient(to top, #eaeaea 460px, #ffffff 460px) no-repeat;
    background-size: 100% 100%, 100% 100%;
    padding-top: 0;
    padding-bottom: 60px;
    border-top: 1px solid #e6e6e6;
  }

  @include desktop {
    padding-top: 22px;
    padding-bottom: 0;
    margin-bottom: 0;
    background: linear-gradient(to top, #f2f2f2 460px, #ffffff 460px) no-repeat, linear-gradient(to top, #eaeaea 460px, #ffffff 460px) no-repeat;
    background-size: 70% 100%, 100% 100%;
  }
}

.example__inner {
  @include desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -120px;
  }
}

.example__heading {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 33px;
  font-size: $mainHeadingFontSize;
  line-height: 40px;
  color: $baseHeadingColor;

  @include tablet {
    font-size: $mainHeadingFontSizeBig;
    line-height: $mainHeadingLineHeightBig;
  }
}

.example__text-wrap {
  @include desktop {
    padding-top: 65px;
    width: 436px;
  }
}

.example__description {
  @include baseFontPropertiesWithOriginalFont;
  margin-bottom: 25px;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;
}

.example__details-wrap {
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.example__group {
  display: flex;
}

.example__details {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--weight {
    margin-right: 30px;
  }
}

.example__text {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 24px;
  color: $baseHeadingColor;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  width: 124px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.example__details-definition {
  @include baseFontPropertiesWithOriginalFont;
  display: inline-block;
  max-width: 78px;
  font-size: $smallFontSize;
  line-height: $smallLineHeight;
  color: $baseTextColor;
  text-align: center;
  background-color: $basicGrey;
  margin-top: -14px;

  @include tablet {
    width: auto;
    /*background-color: #ffffff;*/
  }
}

.example__consume {
  @include baseFontPropertiesWithCustomFont;
  margin-top: 11px;
  margin-bottom: 42px;
  font-size: $baseFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;
  color: $baseHeadingColor;

  @include tablet {
    margin-bottom: 15px;
  }
}
