.footer {
  padding: 40px 0 32px 0;
  background: $decorBgColor;

  @include tablet {
    padding: 54px 0 62px 0;
  }
}

.footer__logo {
  display: flex;
  justify-content: center;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @include tablet {
    justify-self: start;
  }
}

.footer__social {
  align-self: center;
}

.footer__container {
  @include tablet {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }

  @include desktop {
    padding-top: 3px;
  }
}
