.header {
  @include desktop {
    padding-top: 29px;
  }
}

.header__container {
  padding-top: 14px;
  border-bottom: 1px solid #e6e6e6;

  &--main-page {
    border-bottom: 0;
  }

  @include tablet {
    @include containerTablet;
    border-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  @include desktop {
    @include containerDesktop;
    padding-top: 0;
  }
}

.header__group {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;

  @include tablet {
    padding: 0;
    margin: 0;
    width: auto;
  }
}

.header__logo {
  flex-grow: 3;
  display: flex;
  align-items: center;

  @include tablet {
    padding-top: 8px;
  }

  &:hover .header__logo-pic {
    opacity: 0.8;
  }

  &:active .header__logo-pic {
    opacity: 0.6;
  }
}

.header__logo-pic {
  margin-right: 23%;
  width: 190px;
  height: 42px;
  cursor: pointer;

  @include tablet {
    width: 174px;
    height: 51px;
    margin-right: 8%;
  }

  @include desktop {
    width: 202px;
    height: 59px;
  }
}
