.header__container {
  padding-top: 20px;
  border-bottom: 1px solid #e6e6e6;

  &--main-page {
    border-bottom: 0;
  }

  @include tablet {
    @include containerTablet;
    border-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
  }

  @include desktop {
    @include containerDesktop;
    padding-top: 0;
  }
}

.header__group {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;

  @include tablet {
    padding: 0;
    margin: 0;
    width: auto;
  }
}

.header__logo {
  flex-grow: 3;
  display: flex;
  align-items: center;
}

.header__logo-pic {
  margin-right: 23%;

  @include tablet {
    margin-right: 8%;
  }
}
