.introduction {
  position: relative;
  padding-top: 27px;
  margin-bottom: 22px;
  min-height: 302px;
  z-index: -1;
  background-image: url("../img/intro-bg.jpg"), linear-gradient(to right, #ffffff 100%, #5eaa2f 50%);
  background-repeat: no-repeat;
  background-position: 100% 0, 0, 0;
  background-size: contain;
  background-position: top;

  @include tablet {
    background-image: none;
  }

  @include desktop {

    margin-bottom: 82px;
    background-image: url("../img/intro-bg-desktop.jpg"), linear-gradient(to right, #ffffff 100%, #5eaa2f 50%);
    background-size: 720px auto;
    height: 696px;
    margin-top: -110px;
    padding-top: 100px;
    background-position: right;
  }
}

.introduction__container {
  position: relative;
  z-index: 1;

  @include tablet {
    display: grid;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
  }
}

.introduction__heading {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 25px;
  line-height: $mainHeadingLineHeight;
  text-align: center;
  color: #ffffff;

  @include tablet {
    font-size: $mainHeadingFontSizeTablet;
    line-height: $mainHeadingLineHeightTablet;
    margin-bottom: 41px;
    color: $black;
    text-align: left;
    justify-self: left;
    order: 1;
    max-width: 414px;
  }
}

.introduction__text {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 30px;
  line-height: $baseFontSize;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: $mediumLineHeight;
    color: $black;
    order: 2;
    justify-self: left;
  }

  @include desktop {
    grid-column: span 2;
  }
}

.introduction__button {
  @include tablet {
    order: 3;
    justify-self: left;
  }
}

.introduction__image {
  @include tablet {
    order: 4;
    justify-self: center;
  }

  @include desktop {
    justify-self: start;
  }
}
