.introduction {
  position: relative;
  z-index: 2;
  margin-bottom: 22px;
  padding-top: 27px;
  min-height: 302px;
  color: #ffffff;
  background: url("../../img/introduction-food-mobile@1x.png") 49% 79% no-repeat, url("../../img/intro-bg-mobile@1x.jpg") 50% 0 no-repeat, linear-gradient(to right, $baseBodyColor 100%, $green 50%);
  text-align: center;

  @include retina {
    background: url("../../img/introduction-food-mobile@2x.png") left 49% top 170px/280px 270px no-repeat, url("../../img/intro-bg-mobile@2x.jpg") 50% 0/320px 302px no-repeat, linear-gradient(to right, $baseBodyColor 100%, $green 50%);
  }

  @include tablet {
    background: url("../../img/introduction-food-tablet@1x.png") 48% 100% no-repeat;
    background-size: 709px 609px;
    padding-top: 47px;
    padding-bottom: 527px;
    margin-bottom: 0;

    @include retina {
      background: url("../../img/introduction-food-tablet@2x.png") 48% 100% no-repeat;
      background-size: 709px 609px;
    }
  }

  @include desktop {
    padding-top: 48px;
    height: 704px;
    margin: -135px auto 82px auto;

    background: url("../../img/introduction-food-desktop@1x.png") left 63% top 148px no-repeat, url("../../img/intro-bg-desktop.jpg") right -12px top 10px no-repeat, linear-gradient(to right, #ffffff 50%, #64a73d 50%, #64a73d 100%);

    @include retina {
      //background: url("../../img/introduction-food-desktop@2x.png") 560px 140px no-repeat, url("../../img/intro-bg-desktop@2x.jpg") 100% 0 no-repeat, linear-gradient(to right, $baseBodyColor 100%, $green 50%) no-repeat;
      background: url("../../img/introduction-food-desktop@2x.png") left 63% top 148px/559px 499px no-repeat, url("../../img/intro-bg-desktop@2x.jpg") right -1px top 10px/720px 694px no-repeat;
    }
  }
}

.introduction__container {
  position: relative;
  z-index: 1;

  @include tablet {
    display: grid;
    padding-left: 113px;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
    padding-left: 78px;
  }
}

.introduction__heading {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 25px;
  margin-top: 0;
  line-height: $mainHeadingLineHeight;
  font-size: $mainHeadingFontSize;
  text-align: center;
  color: #ffffff;

  @include tablet {
    font-size: $mainHeadingFontSizeBig;
    line-height: $mainHeadingLineHeightBig;
    margin-bottom: 21px;
    color: $black;
    text-align: left;
    justify-self: left;
    order: 1;
    max-width: 417px;
    padding-left: 3px;
  }

  @include desktop {
    margin-top: 186px;
    margin-bottom: 19px;
  }
}

.introduction__text {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 300px;
  padding-left: 4px;
  line-height: $baseFontSize;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: $mediumLineHeight;
    color: $black;
    order: 2;
    justify-self: left;
  }

  @include desktop {
    grid-column: span 2;
    margin-bottom: 52px;
  }
}

.introduction__button {
  @include tablet {
    order: 3;
    justify-self: left;
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    padding: 14px 26px;
    cursor: pointer;
    z-index: 3;

    &:hover {
      background: $buttonBgColorOnHover;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.introduction__image {
  @include tablet {
    order: 4;
    justify-self: center;
  }

  @include desktop {
    justify-self: start;
  }
}
