.introduction {
  position: relative;
  padding-top: 27px;
  margin-bottom: 22px;
  min-height: 302px;
  z-index: -1;
  color: #ffffff;
  background: url("../img/introduction-food.png") 50% 72% no-repeat, url("../../img/intro-bg.jpg") 50% 0 no-repeat, linear-gradient(to right, $baseBodyColor 100%, $green 50%);
  text-align: center;

  @include tablet {
    background: url("../img/introduction-food-tablet.png") 48% 100% no-repeat;
    background-size: 709px 609px;
    padding-top: 54px;
    padding-bottom: 532px;
  }

  @include desktop {
    margin-top: -110px;
    margin-bottom: 82px;
    background: url("../img/introduction-food-desktop.png") 560px 140px no-repeat, url("../img/intro-bg-desktop.jpg") 100% 0 no-repeat, linear-gradient(to right, $baseBodyColor 100%, $green 50%) no-repeat;
    height: 720px;
  }
}

.introduction__container {
  position: relative;
  z-index: 1;

  @include tablet {
    display: grid;
  }

  @include desktop {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr;
  }
}

.introduction__heading {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 25px;
  line-height: $mainHeadingLineHeight;
  font-size: $mainHeadingFontSize;
  text-align: center;
  color: #ffffff;

  @include tablet {
    font-size: $mainHeadingFontSizeBig;
    line-height: $mainHeadingLineHeightBig;
    margin-bottom: 41px;
    color: $black;
    text-align: left;
    justify-self: left;
    order: 1;
    max-width: 414px;
  }
}

.introduction__text {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 300px;
  line-height: $baseFontSize;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  @include tablet {
    margin-bottom: 49px;
    font-size: 20px;
    line-height: $mediumLineHeight;
    color: $black;
    order: 2;
    justify-self: left;
  }

  @include desktop {
    grid-column: span 2;
  }
}

.introduction__button {
  @include tablet {
    order: 3;
    justify-self: left;
  }
}

.introduction__image {
  @include tablet {
    order: 4;
    justify-self: center;
  }

  @include desktop {
    justify-self: start;
  }
}
