.main-nav {
  background-color: $baseBodyColor;

  &--open .main-nav__list {
    display: block;
  }

  &--nojs .main-nav__list {
    display: flex;
    flex-direction: column;
  }

  &--nojs .main-nav__toggle {
    display: none;
}

  @include tablet {
    padding-bottom: 16px;
    display: block;
    justify-self: end;

    &--nojs .main-nav__list {
      flex-direction: row;
    }
  }

  @include desktop {
    background: transparent;
    position: relative;
    z-index: 100;
  }
}

.main-nav__list {
  @include listStyleReset;
  display: none;

  @include tablet {
    display: flex;
    flex-direction: row;
  }
}

.main-nav__toggle {
  font-size: 0;
  border: none;
  position: absolute;
  top: 21px;
  right: 22px;
  width: 20px;
  height: 20px;
  background-color: $white;
  cursor: pointer;

  @include tablet {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  top: 24px;
  width: 24px;
  height: 24px;
  right: 20px;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-repeat: no-repeat;
}

.main-nav--open .main-nav__toggle {
  background-image: url("../../img/icon-close.svg");
}


.main-nav__item {
  padding-top: 20px;
  padding-bottom: 21px;
  border-bottom: 1px solid #e6e6e6;
  text-align: center;

  &--mode {
    border-top: 1px solid #e6e6e6;
  }

  @include tablet {
    padding-top: 42px;
    padding-bottom: 7px;
    margin-right: 36px;
    border-bottom: 0;

    &--active {
      border-bottom: 2px solid $green;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include desktop {
    padding-bottom: 6px;
    margin-left: -2px;


    &--mode {
      border-bottom: 2px solid $white;
      border-top: 0;
    }
  }
}

.main-nav__link {
  @include baseFontPropertiesWithCustomFont;
  text-decoration: $linkDecorReset;
  font-size: 21px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: $black;

  @include tablet {
    font-size: 18px;
    line-height: 24px;
    color: $black;

    &--mod {
      color: $black;
    }

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
    color: $white;

    &--mod {
      color: $black;
    }
  }
}

.main-nav__item--mode .main-nav__link {
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 1;
  }
}
