.map {
  position: relative;
  height: 362px;
  width: 100%;

  background-image: url("../../img/map-mob.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    @include pseudoElementBaseStyles;

    background-image: url("../../img/map-pin-mobile@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
    left: 52%;
    top: 138px;
    width: 57px;
    height: 53px;
    margin-left: -30px;

    @include retina {
      background-image: url("../../img/map-pin-mobile@2x.png");
    }
  }

  @include tablet {
    height: 400px;
    background-image: url("../../img/map-tablet.jpg");

    &::before {
      background-image: url("../../img/map-pin-tablet@1x.png");
      width: 113px;
      height: 106px;
      left: 47%;
      top: 144px;

      @include retina {
        background-image: url("../../img/map-pin-tablet@2x.png");
      }
    }
  }

  @include desktop {
    background-image: url("../../img/map-desktop.jpg");

    &::before {
      left: 65%;
      top: 129px;
      background-image: url("../../img/map-pin-desktop@1x.png");

      @include retina {
        background-image: url("../../img/map-pin-desktop@2x.png");
      }
    }
  }
}

.map iframe {
  border: none;
  outline: none;
  height: 362px;

  @include tablet {
    height: 400px;
  }
}
