.product {
  padding-top: 19px;
  padding-bottom: 25px;
}

.product__group {
  display: flex;
  align-items: center;
  margin-bottom: 22px;

  @include desktop {
    flex-direction: column;
  }
}

.product__title {
  @include baseFontPropertiesWithCustomFont;
  max-width: 100px;
  margin-bottom: 14px;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;

  @include desktop {
    text-align: center;
  }
}

.product__image {
  margin-right: 36px;

  &--pro {
    margin-right: 28px;
  }

  @include desktop {
    margin-right: 0;
  }
}

.product__details {
  @include desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
}

.product__table {
  width: 190px;
}

.product__table tr {
  width: 100px;

  @include desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.product__table td {
  @include baseFontPropertiesWithOriginalFont;
  font-size: $smallFontSize;
  line-height: $mediumLineHeight;
  color: $baseTextColor;
  text-align: left;
}

.product__buy {
  @include desktop {
    width: 168px;
    margin: 0 auto;
  }
}
