.program-item {
  position: relative;
  margin-bottom: 20px;
  background: $decorBgColor;
  padding: 30px 20px 19px 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    @include pseudoElementBaseStyles;
    top: 24px;
    left: 22px;
    background-image: url("../../img/programm-slim-mobile@1x.svg");
    width: 50px;
    height: 53px;
    background-size: contain;
  }

  &--get-weight {
    padding-top: 27px;

    &::before {
      background-image: url("../../img/programm-fat-mobile@1x.svg");
      width: 67px;
      height: 50px;
      top: 22px;
      left: 14px;
    }
  }

  @include tablet {
    padding: 75px 62px 59px 52px;
    margin-bottom: 29px;

    &::before {
      background-image: url("../../img/programm-slim-tablet@1x.svg");
      right: 61px;
      left: auto;
      top: 80px;
      width: 200px;
      height: 211px;
    }

    &--get-weight {
      &::before {
        background-image: url("../../img/programm-fat-tablet@1x.svg");
        right: 27px;
        left: auto;
        top: 89px;
        width: 268px;
        height: 200px;
      }
    }
  }

  @include desktop {
    height: 100%;
    padding: 77px 51px 3px 52px;

    &::before {
      background-image: url("../../img/programm-slim-desktop@1x.svg");
      right: auto;
      left: 53px;
      top: 40px;
      width: 100px;
    }

    &--get-weight {
      &::before {
        background-image: url("../../img/programm-fat-desktop@1x.svg");
        right: auto;
        left: 32px;
        top: 47px;
        width: 134px;
        height: 200px;
      }
    }
  }
}

.program-item__title {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 31px;
  margin-top: 0;
  padding-left: 72px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $baseHeadingColor;

  &--get-weight {
    margin-bottom: 32px;
  }

  @include tablet {
    font-size: $mainHeadingFontSize;
    line-height: $mainHeadingLineHeight;
    margin-bottom: 24px;
    padding-left: 0;
  }

  @include desktop {
    text-align: center;
    margin-bottom: 73px;
    margin-left: 22px;

    &--get-weight {
      margin-left: 60px;
    }
  }
}

.program-item__text {
  @include baseFontPropertiesWithOriginalFont;
  margin-bottom: 41px;
  color: $baseTextColor;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;

  @include tablet {
    padding-right: 219px;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 53px;

    &--get-weight {
      padding-right: 252px;
    }
  }

  @include desktop {
    padding-right: 0;
    margin-bottom: 27px;
  }
}

.program-item__link {
  @include baseFontPropertiesWithCustomFont;
  position: relative;
  display: inline-block;
  width: 130px;
  text-decoration: $linkDecorReset;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;
  color: $baseHeadingColor;

  &:hover .program-item__arrow {
    width: 36px;
    transition: 1s;
  }

  &:active .program-item__arrow {
    width: 36px;
    transition: 1s;
    opacity: 0.3;
  }

  &:active {
    opacity: 0.3;
  }

  @include tablet {
    font-size: 20px;
    line-height: 30px;

    &::before {
      right: -28px;
      top: 9px;
    }
  }
}

.program-item__arrow {
  position: absolute;
  right: 2px;
  top: 3px;

  &:hover {
    width: 36px;
    transition: 1s;
  }

  @include tablet {
    right: -32px;
    top: 7px;
  }

  @include desktop {
    right: -36px;
    top: 8px;
  }
}
