.set-form {
  margin-bottom: 32px;

  @include tablet {
    margin-bottom: 73px;
  }

  @include desktop {
    margin-bottom: 82px;
  }
}

.set-form__block {
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
}

.set-form__heading-text {
  background: $baseBodyColor;
  display: inline-block;
  max-width: 223px;
  padding: 0 20px;
  transform: translate(-20px, 12px);

  &--owner {
    transform: translate(-20px, 36px);
  }

  @include tablet {
    max-width: 100%;
    padding: 0 42px 0 39px;
    transform: translate(-38px, 13px);

    &--owner {
      transform: translate(-39px, 15px);
      padding: 0 42px 0 39px;
    }
  }

  @include desktop {
    max-width: 100%;
    padding: 0 40px;
    transform: translate(-40px, 10px);
  }
}

.set-form__heading {
  @include baseFontPropertiesWithCustomFont;
  padding-left: calc((100% - 280px) / 2);
  margin-bottom: 41px;
  margin-top: 20px;
  font-size: 24px;
  line-height: 26px;
  color: $baseHeadingColor;
  border-bottom: 2px solid $darkGreen;
  transform: translateY(-13px);

  &--owner {
    margin-top: -23px;
    margin-bottom: 59px;
  }

  &--comment {
    margin-top: 0;
    margin-bottom: 37px;
  }

  &--addition {
    margin-bottom: 37px;
    margin-top: 0;
  }

  @include tablet {
    padding-left: calc((100% - 630px) / 2);
    margin-top: 0;
    margin-bottom: 73px;
    text-align: left;
    font-size: $mainHeadingFontSize;
    line-height: $mainHeadingLineHeight;

    &--owner {
      margin-bottom: 74px;
    }

    &--addition {
      margin-bottom: 61px;
    }

    @include desktop {
      transform: translateY(-15px);

      &--owner {
        margin-bottom: 71px;
      }

      &--addition {
        margin-bottom: 57px;
      }
    }
  }

  @include desktop {
    padding-left: calc((100% - 1220px) / 2);
  }
}

.set-form__pet {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 29px;

  @include tablet {
    margin-bottom: 43px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.set-form__program {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 13px;

  @include tablet {
    margin-bottom: 74px;
    border: 1px solid #e7e7e7;
    padding: 30px 30px 7px 27px;
  }
}

.set-form__comment {
  margin-bottom: 19px;

  @include tablet {
    margin-bottom: 62px;
  }

  @include desktop {
    margin-bottom: 65px;
  }
}

.set-form__addition {
  margin-bottom: 38px;

  @include tablet {
    margin-bottom: 15px;
  }

  @include desktop {
    margin-bottom: 25px;
  }
}

.set-form__group {
  margin-bottom: 25px;
  display: flex;
  //align-items: center;

  &--email,
  &--phone {
    position: relative;
  }

  &--email {
    margin-bottom: 15px;
  }

  &--radio:focus-within,
  &--checkbox:focus-within {
    border-color: $black;
    box-shadow: 0 0 0 1px $black;
  }

  &--pet-info {
    margin-bottom: 14px;
  }

  &--tel {
    margin-bottom: 21px;
  }

  @include tablet {
    margin-bottom: 22px;

    &--pet-info {
      margin-bottom: 20px;
    }

    &--checkbox {
      width: 50%;
      margin-bottom: 42px;

      &:nth-child(even) {
        padding-left: 28px;
      }
    }
  }

  @include desktop {
    width: auto;

    &--checkbox {
      &:nth-child(even) {
        padding-left: 0;
      }
    }

    &--sugar {
      margin-right: 85px;
    }

    &--water {
      margin-right: 117px;
    }

    &--milk {
      margin-right: 179px;
    }
  }
}

.set-form__icon {
  position: absolute;
  right: 15px;

  &--mail {
    top: 18px;
  }

  &--phone {
    top: 73px;
    right: 34px;
  }

  @include tablet {
    &--phone {
      right: 82px;
      top: 89px;
    }
  }

  @include desktop {
    &--mail {
      top: 20px;
      right: 19px;
    }

    &--phone {
      top: 16px;
      right: 16px;
    }
  }
}

.set-form__label {
  @include baseFontPropertiesWithCustomFont;
  margin-right: 11px;
  text-transform: uppercase;
  font-size: $mediumFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;

  &--email {
    margin-right: 11px;
    margin-top: 9px;
  }

  &--phone {
    margin-right: 11px;
    margin-top: 9px;
  }

  &--pet-name {
    margin-top: 11px;
    margin-right: 12px;
  }

  &--weight {
    margin-top: 11px;
    margin-right: 15px;
  }

  &--age {
    margin-top: 11px;
    margin-right: 14px;
  }

  @include tablet {
    margin-right: 20px;
    font-size: 20px;
    line-height: 30px;

    &--mail {
      margin-right: 19px;
    }

    &--phone {
      margin-right: 14px;
    }
  }

  @include desktop {
    margin-right: 20px;
  }
}

.set-form__input {
  @include baseFontPropertiesWithCustomFont;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  color: $baseTextColor;
  text-transform: uppercase;
  height: 45px;
  padding: 13px 45px 13px 15px;
  border: 1px solid #e7e7e7;
  width: 218px;

  &:focus-visible {
    border: none;
    outline: none;
  }

  &:focus {
    border: 2px solid $baseTextColor;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:invalid {
    border: 2px solid #ff8282;
  }

  &:invalid + .set-form__icon {
    fill: #ff8282;
  }

  &:focus + .set-form__icon {
    fill: $green;
  }

  &--radio {
    display: none;

    &:checked + label,
    &:not(:checked) + label {
      position: relative;
      padding-left: 46px;
      cursor: pointer;
      display: inline-block;
      opacity: 1;
    }

    &:checked + label::before,
    &:not(:checked) + label::before {
      content: "";
      position: absolute;
      left: 0;
      top: -7px;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      border-radius: 100%;
      background: $baseBodyColor;
      opacity: 1;
    }

    &:checked + label::after,
    &:not(:checked) + label::after {
      content: "";
      width: 13px;
      height: 13px;
      background: $radioInputChecked;
      position: absolute;
      top: 2px;
      left: 8px;
      border-radius: 100%;
      transition: all 0.2s ease;
      opacity: 1;
    }

    &:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0);
    }

    &:checked + label::after {
      opacity: 1;
      transform: scale(1);
    }

    &:checked + label:hover::before,
    &:not(:checked) + label:hover::before {
      border: 1px solid #bababa;
    }

    &:disabled + label::before {
      opacity: 0.3;
      border: 1px solid $black;
    }

    &:disabled + label:hover::before {
      opacity: 0.3;
      border: 1px solid $black;
    }

    &:disabled + label:hover {
      opacity: 0.3;
      color: $black;
    }

    &:disabled + label {
      opacity: 0.3;
      color: $black;
    }
  }

  &--checkbox {
    display: none;

    &:checked + label,
    &:not(:checked) + label {
      position: relative;
      padding-left: 45px;
      cursor: pointer;
      display: inline-block;
    }

    &:checked + label::before,
    &:not(:checked) + label::before {
      content: "";
      position: absolute;
      left: 0;
      top: -7px;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      background: $baseBodyColor;
    }

    &:checked + label::after,
    &:not(:checked) + label::after {
      @include pseudoElementBaseStyles;
      width: 18px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
      top: 2px;
      left: 6px;
      transition: all 0.2s ease;
    }

    &:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0);
    }

    &:checked + label::after {
      opacity: 1;
      transform: scale(1);
    }

    &:checked + label:hover::before,
    &:not(:checked) + label:hover::before {
      border: 1px solid #bababa;
    }

    &:disabled + label::before {
      opacity: 0.3;
      border: 1px solid $black;
    }

    &:disabled + label:hover::before {
      opacity: 0.3;
      border: 1px solid $black;
    }

    &:disabled + label:hover {
      opacity: 0.3;
      color: $black;
    }

    &:disabled + label {
      opacity: 0.3;
      color: $black;
    }
  }

  &--pet-name {
    width: 228px;
  }

  &--weight {
    width: 205px;
  }

  &--age {
    width: 172px;
  }

  &--tel {
    width: 205px;
  }

  @include tablet {
    flex-grow: 1;
    height: 52px;
    font-size: 20px;
    line-height: 30px;
    padding: 13px 45px 13px 17px;

    &--pet-name {
      min-width: 567px;
    }

    &--email {
      min-width: 545px;
    }

    &--tel {
      min-width: 534px;
    }

    &:checked + label::before,
    &:not(:checked) + label::before {
      left: 1px;
      top: -6px;
      width: 40px;
      height: 40px;
    }

    &:checked + label::after,
    &:not(:checked) + label::after {
      top: 4px;
      left: 12px;
      width: 18px;
      height: 18px;
    }

    &:checked + label,
    &:not(:checked) + label {
      padding-left: 61px;
    }

    &--checkbox {
      &:checked + label,
      &:not(:checked) + label {
        padding-left: 59px;
      }
    }
  }

  @include desktop {
    &:checked + label::after,
    &:not(:checked) + label::after {
      top: 7px;
    }

    &:checked + label::before,
    &:not(:checked) + label::before {
      top: -3px;
    }

    &--pet-name {
      min-width: auto;
    }

    &--email {
      min-width: auto;
    }

    &--tel {
      min-width: auto;
    }
  }
}

.set-form__button {
  margin-bottom: 21px;
  font-size: 16px;
  line-height: 20px;
  width: 100%;

  @include tablet {
    margin-right: 62px;
    margin-bottom: 0;
    width: 282px;
    height: 52px;
    font-size: 20px;
  }

  @include desktop {
    width: 568px;
    margin-right: 83px;
  }
}

.set-form__reminder {
  @include baseFontPropertiesWithOriginalFont;
  margin: 0;
  font-size: $baseFontSize;
  line-height: 16px;
  color: $baseHeadingColor;
  text-align: center;

  @include tablet {
    font-size: 16px;
    line-height: 16px;
  }
}

.set-form__textarea {
  @include baseFontPropertiesWithCustomFont;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  color: $baseTextColor;
  text-transform: uppercase;
  width: 280px;
  height: 150px;
  padding: 0 13px;
  padding-top: 6px;
  border: 1px solid #e7e7e7;
  resize: none;

  &:focus {
    border: 2px solid $baseTextColor;
  }

  &:focus-visible {
    outline: none;
  }

  @include tablet {
    width: 100%;
    height: 173px;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 17px;
  }
}

.set-form__bottom {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.set-form__addition-group {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }
}

.set-form__owner {
  @include tablet {
    margin-bottom: 64px;
  }

  @include desktop {
    margin-bottom: 48px;
  }
}

.set-form__grid-group {
  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.set-form__owner-group {
  @include desktop {
    display: grid;
    grid-template-columns: 569px 572px;
    grid-column-gap: 78px;
  }
}
