.set-form {
  margin-bottom: 32px;
}

.set-form__heading {
  @include baseFontPropertiesWithCustomFont;
  margin-bottom: 40px;
  font-size: 24px;
  line-height: 26px;
  color: $baseHeadingColor;
}

.set-form__group {
  margin-bottom: 25px;
  display: flex;
  align-items: center;

  @include tablet {
    width: 50%;
  }

  @include desktop {
    width: 100%;

    &--email {
      margin-right: 80px;
    }

    &--tel {
      width: 609px;
    }
  }
}

.set-form__label {
  @include baseFontPropertiesWithCustomFont;
  margin-right: 12px;
  text-transform: uppercase;
  font-size: $mediumFontSize;
  line-height: $baseLineHeight;
  color: $baseTextColor;

  @include desktop {
    margin-right: 20px;
  }
}

.set-form__input {
  height: 45px;
  padding: 13px 15px;
  border: 1px solid #e7e7e7;

  &--radio {
    display: none;

    &:checked + label,
    &:not(:checked) + label {
      position: relative;
      padding-left: 50px;
      cursor: pointer;
      display: inline-block;
    }

    &:checked + label::before,
    &:not(:checked) + label::before {
      content: "";
      position: absolute;
      left: 0;
      top: -7px;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      border-radius: 100%;
      background: $baseBodyColor;
    }

    &:checked + label::after,
    &:not(:checked) + label::after {
      content: "";
      width: 13px;
      height: 13px;
      background: $radioInputChecked;
      position: absolute;
      top: 2px;
      left: 8px;
      border-radius: 100%;
      transition: all 0.2s ease;
    }

    &:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0);
    }

    &:checked + label::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  &--checkbox {
    display: none;

    &:checked + label,
    &:not(:checked) + label {
      position: relative;
      padding-left: 50px;
      cursor: pointer;
      display: inline-block;
    }

    &:checked + label::before,
    &:not(:checked) + label::before {
      content: "";
      position: absolute;
      left: 0;
      top: -7px;
      width: 30px;
      height: 30px;
      border: 1px solid #cdcdcd;
      background: $baseBodyColor;
    }

    &:checked + label::after,
    &:not(:checked) + label::after {
      @include pseudoElementBaseStyles;
      width: 18px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 11.718L1.3 5.26951L0.25 6.45739L7 14.0938L18.25 1.36648L17.2 0.09375L7 11.718Z' fill='%2368B738'/%3E%3C/svg%3E%0A");
      top: 2px;
      left: 6px;
      transition: all 0.2s ease;
    }

    &:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0);
    }

    &:checked + label::after {
      opacity: 1;
      transform: scale(1);
    }
  }

  @include tablet {
    width: 100%;
  }
}

.set-form__button {
  margin-bottom: 21px;

  @include tablet {
    margin-right: 61px;
    margin-bottom: 0;
  }

  @include desktop {
    width: 568px;
  }
}

.set-form__reminder {
  @include baseFontPropertiesWithOriginalFont;
  margin: 0;
  font-size: $baseFontSize;
  line-height: 16px;
  color: $baseHeadingColor;
}

.set-form__textarea {
  width: 280px;
  height: 150px;
  padding: 9px 15px;
  border: 1px solid #e7e7e7;

  @include tablet {
    width: 100%;
  }
}

.set-form__bottom {
  @include tablet {
    display: flex;
    align-items: center;
  }
}

.set-form__addition {
  @include tablet {
    margin-bottom: 40px;
  }
}

.set-form__addition-group {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
  }

  @include desktop {
    flex-wrap: nowrap;
  }
}

.set-form__pet {
  @include tablet {
    margin-bottom: 72px;
  }
}

.set-form__pet .set-form__group {
  @include desktop {
    width: 569px;
  }
}

.set-form__program {
  @include tablet {
    margin-bottom: 72px;
  }
}

.set-form__owner {
  @include tablet {
    margin-bottom: 72px;
  }
}

.set-form__comment {
  @include tablet {
    margin-bottom: 72px;
  }
}

.set-form__grid-group {
  @include desktop {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
}

.set-form__owner-group {
  @include desktop {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
  }
}

.set-form__owner-group .set-form__group {
  @include desktop {
    width: 569px;
  }
}
