.slider {
  @include tablet {
    min-height: 462px;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.slider__slide {
  margin-bottom: 27px;

  &--slim {
    display: none;
  }

  @include tablet {
    display: block;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.slider__container {
  @include tablet {
    display: grid;
    grid-template-columns: 708px;
  }

  @include desktop {
    grid-template-rows: 1fr;
    grid-template-columns: 690px;
  }
}

.slider__navigation {
  width: 230px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  @include tablet {
    justify-self: center;
    grid-column: span 2;
    width: auto;
    position: absolute;
    bottom: 50px;
  }

  @include desktop {
    width: 460px;
    z-index: 1;
    position: absolute;
    bottom: 72px;
  }
}

.slider__button {
  @include buttonStyleReset;
  @include baseFontPropertiesWithCustomFont;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;
  color: $baseHeadingColor;
}

.slider__range {
  background: $baseBodyColor;
  padding: 3px 6px 4px 6px;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @include tablet {
    width: 428px;
  }
}

.slider__toggle {
  width: 35px;
  height: 6px;
  background: $buttonBgColor;
  border-radius: 6px;
}
