.slider {
  @include tablet {
    min-height: 462px;
  }

  @include desktop {
    display: flex;
    align-items: center;
  }
}

.slider__slide {
  margin-bottom: 27px;
  min-height: 232px;

  &--slim {
    display: none;
  }

  @include tablet {
    display: block;
    margin-bottom: 29px;
  }

  @include desktop {
    margin-bottom: 0;
  }
}

.slider__image {
  min-height: 232px;
}

.slider__container {
  @include tablet {
    display: grid;
    grid-template-columns: 708px;
  }

  @include desktop {
    position: relative;
    grid-template-rows: 1fr;
    grid-template-columns: 690px;
  }
}

.slider__navigation {
  width: 250px;
  display: flex;
  padding-left: 38px;
  align-items: center;

  @include tablet {
    width: 572px;
    position: absolute;
    left: 13%;
    bottom: 67px;
    padding-left: 0;
  }

  @include desktop {
    width: auto;
    z-index: 1;
    position: absolute;
    bottom: 69px;
    left: 80px;
  }
}

.slider__button {
  @include buttonStyleReset;
  @include baseFontPropertiesWithCustomFont;
  font-size: $mediumFontSize;
  line-height: $mediumLineHeight;
  text-transform: uppercase;
  color: $baseHeadingColor;
  cursor: pointer;

  &--before {
    padding-right: 16px;
  }

  &--after {
    padding-left: 16px;
  }

  &:focus {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  @include tablet {
    border-bottom: 1px dotted #cdcdcd;
    font-size: 20px;
    line-height: 30px;

    &--before {
      padding-right: 0;
      margin-right: 24px;
      padding-left: 0;
      //margin-left: 69px;
    }

    &--after {
      padding-left: 0;
      margin-left: 19px;
      padding-right: 0;
    }

    &:hover {
      border-bottom: 1px solid #000000;
    }

    &:active {
      border-bottom: 1px solid transparent;
    }
  }

  @include desktop {
    &--after {
      padding-left: 0;
      margin-left: 19px;
      padding-right: 0;
    }

    &--before {
      padding-right: 0;
      margin-right: 24px;
      margin-left: 0;
      padding-left: 0;
    }
  }
}

.slider__range {
  background: $baseBodyColor;
  padding: 3px 6px 4px 6px;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;

  @include tablet {
    width: 428px;
    height: 6px;
    background: #dcdcdc;
    border: 0;
    border-radius: 6px;
  }
}

.slider__toggle {
  width: 35px;
  height: 6px;
  background: $buttonBgColor;
  border-radius: 6px;

  &:hover {
    box-shadow: 0 3px 5px 2px rgba(34, 60, 80, 0.2);
  }

  &:active {
    box-shadow: 0 3px 5px 2px rgba(34, 60, 80, 0.2);
    border: 1px solid $green;
  }

  @include tablet {
    position: absolute;
    left: 47%;
    top: 1px;
    border-radius: 50%;
    background-color: $baseBodyColor;
    border: 1px solid #cdcdcd;
    width: 34px;
    height: 34px;

    &::before {
      position: absolute;
      content: "";
      background: $darkGreen;
      width: 8px;
      height: 8px;
      top: 12px;
      left: 12px;
      border-radius: 50%;
    }
  }

  @include desktop {
    left: 47%;
  }
}
