.social-links {
  @include listStyleReset;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 53px;
  margin-bottom: 38px;

  @include tablet {
    margin: 0;
  }
}

.social-links__item {
  margin-right: 35px;

  &:last-child {
    margin-right: 0;
  }
}

.social-links__pic {
  fill: #666666;
  width: 50px;

  &:hover {
    fill: $green;
  }

  &:active {
    opacity: 0.3;
  }
}

.social-links__link svg {
  @include tablet {
    width: 31px;
    height: 25px;
  }
}
