.social-links {
  @include listStyleReset;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  margin-top: 60px;
  margin-bottom: 53px;
}

.social-links__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}
