*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: $customFont;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.page {
  height: 100%;
}

.page__body {
  display: grid;
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
  background-color: $baseBodyColor;
  font-family: $baseFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: $baseFontWeight;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 44px;
  height: 40px;
  background: $buttonBgColor;
  font-family: $customFontFamily;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  font-weight: $baseFontWeight;
  color: $buttonTextColor;
  text-decoration: $linkDecorReset;
  text-transform: uppercase;
  border: none;

  &:hover {
    background: $buttonBgColorOnHover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &--mode {
    background: #f2f2f2;
    color: $baseTextColor;

    &:hover {
      background: $buttonModeBgColorOnHover;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
    }
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-heading {
  @include baseFontPropertiesWithCustomFont;
  margin-top: 27px;
  margin-bottom: 40px;
  font-size: $mainHeadingFontSize;
  line-height: $mainHeadingLineHeight;
  color: $baseHeadingColor;

  @include tablet {
    font-size: $mainHeadingFontSizeBig;
    line-height: $mainHeadingLineHeightBig;
  }
}

.container {
  @include container;

  @include tablet {
    @include containerTablet;
  }

  @include desktop {
    @include containerDesktop;
  }
}
