//reset
$linkDecorReset: none;

// font
$customFont: "Oswald";
$customFontFamily: "Oswald", "Arial", sans-serif;
$baseFont: "Arial";
$baseFontFamily: "Arial", sans-serif;

// font properties
$baseFontWeight: normal;
$baseFontStyle: normal;
$baseFontSize: 14px;
$mediumFontSize: 16px;
$smallFontSize: 12px;
$baseLineHeight: 18px;
$mediumLineHeight: 20px;
$smallLineHeight: 12px;
$mainHeadingFontSize: 36px;
$mainHeadingLineHeight: 36px;
$mainHeadingFontSizeBig: 60px;
$mainHeadingLineHeightBig: 60px;

// base colors
$white: #ffffff;
$green: #68b738;
$darkGreen: #5eaa2f;
$basicGrey: #f2f2f2;
$grey: #ebebeb;
$black: #000000;
$baseBodyColor: $white;
$buttonBgColor: $green;
$aboutItem: $green;
$buttonTextColor: $white;
$radioInputChecked: $green;
$decorBgColor: $basicGrey;
$buttonBgColorOnHover: $darkGreen;
$buttonModeBgColorOnHover: $grey;
$baseHeadingColor: $black;
$baseTextColor: #444444;
//$exampleBg: #f2f2f2;
