//reset
$linkDecorReset: none;

// font
$customFont: "Oswald";
$customFontFamily: "Oswald", sans-serif;
$baseFont: "Arial";
$baseFontFamily: "Arial", sans-serif;

// font properties
$upperCase: uppercase;
$lowCase: none;
$baseFontWeight: normal;
$baseFontStyle: normal;
$baseTextFontSize: 14px;
$baseTextLineHeight: 18px;
$mainHeadingFontSize: 36px;
$mainHeadingLineHeight: 36px;

// base colors
$baseBodyColor: #ffffff;
$buttonBgColor: #68b738;
$baseHeadingColor: #000000;
$baseTextColor: #444444;
$buttonTextColor: #ffffff;
$footerBg: #f2f2f2;
$exampleBg: #eaeaea;
